<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Resumes</title>
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>

    <nav role="navigation" class="primary-navigation">
        <ul>
          <li><a href="dashboard.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="upload.html" class="upload">Upload Resume</a></li>
          <li><a href="login.html" class="admin-login">Administration Login</a></li>
        </ul>
    </nav>

    <h3 class="title">Sky-Hostings</h3>
    <div class="description">
        <p>At Sky-Hostings Solutions, we understand that your online presence is the cornerstone of your business success. That's why we offer top-of-the-line hosting services designed to keep your website running smoothly, securely, and without interruption.</p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="../js/script.js"></script>

</body>
</html>
